#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}








body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3e5ab; /* Cream background */
  color: #3e2723; /* Dark brown text */
}

h3 {
  color: #5d4037; /* Medium brown */
}

a {
  color: #795548; /* Coffee brown */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Container */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  
}

/* Header styles */
.header {
  width: 100%;
  background-color: #3e2723; /* Dark brown */
  padding: 20px 0;
  text-align: center;
  color: white;
}

.header h1 {
  margin: 0;
  font-size: 2em;
}

/* Search bar styles */
.search-bar {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.search-bar input {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #d7ccc8; /* Light brown border */
  border-radius: 5px 0 0 5px;
  outline: none;
  background-color: #fbe9e7; /* Light cream */
  color: #3e2723; /* Dark brown text */
}

.search-bar button {
  padding: 10px;
  font-size: 1em;
  border: none;
  background-color: #795548; /* Coffee brown */
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #6d4c41; /* Darker coffee brown */
}

/* Recipe list styles */
.recipe-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.recipe-card {
  background: #ffffff; /* White background */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  color: #3e2723; /* Dark brown text */
}

.recipe-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.recipe-card img {
  width: 100%;
  border-radius: 10px;
}

.recipe-card p {
  margin: 10px 0;
}


.recipe-summary {
  font-size: 0.9em;
  color: #5d4037; /* Medium brown */
}

.recipe-summary a {
  color: #8d6e63; /* Lighter brown */
}
